#main{
    background-color: #FF5733;
}

#main{
    /* background-color: white; */
    width:50%;
    margin:auto;
    position: relative;
    top:125px;
    height: auto;
    padding: 12px;
}
#login-title{
    text-align: center;
    margin-bottom: 20px;
}
input{
    display:block;
    width:50%;
    margin:auto;
    margin-bottom: 16px;
    height:30px;
    font-size: 1.75rem;
    text-align: center;
}
input::placeholder{
    text-align: center;
    font-size: 1.75rem;
}

button{
    display:block;
    width:50%;
    margin:auto;
    margin-bottom: 16px;
    height:50px;
    font-size: 1.75rem;
    text-align: center;
}
#login-btn{
    background-color: #13EAEA;
    border : 2px solid #13EAEA;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 32px;
}
#register-btn{
    background-color: #FFC300;
    border: 2px solid #FFC300;
    border-radius: 10px;
    cursor: pointer;
}
#login-btn:hover,#register-btn:hover{
    box-shadow: 3px 3px #BBD2D2;
}
/* h3{
    position: relative;
    left: 125px;
} */